<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header") %> <%- include("includes/mobile-drawer") %>
    <main>
      <h1>Something went wrong</h1>
      <p>
        Something went wrong on our side, we will try to fix this as soon as
        posible.
      </p>
    </main>
  </body>
</html>
